
* {
    border-radius: 8px;
    font-family: "Iosevka Nerd Font Bold";
    font-size: 15px;
}

window {
    background-color: alpha({{colors.terminal.background.hex}}, 0.6);
    border: 4px solid {{colors.primary.hex}};
}

#input {
    background-color: alpha({{colors.terminal.background.hex}}, 0.6);
    padding: 4px 12px;
    margin: 10px;
}

#inner-box {
    padding: 8px;
}

#outer-box {
    padding-bottom: 8px;
}

#entry {
    padding: 8px;
    margin: 4px;
    min-height: 30px;
    background-color: alpha({{colors.terminal.background.hex}}, 0.9);
}

#entry:selected {
    background-color: alpha({{colors.primary.hex}}, 0.9);
}

/* #entry:selected #text { */
#text:selected {
    color: {{colors.terminal.normal.black.hex}};
}

#text {
    color: {{colors.terminal.normal.white.hex}};
}

#img {
    margin-right: 10px;
}
